<head>
  <link rel="stylesheet" href="/styles.css" />
  <title><%= title %></title>
</head>
<body>
  <form action="/new" method="post">
    <h3>Form</h3>
    <label for="user">Name</label>
    <input type="text" name="user" id="user" />
    <label for="textz">Text</label>
    <input type="text" name="textz" id="textz" />
    <button type="submit">Submit form</button>
    <a href="/">Go back</a>
  </form>
</body>
