<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <ul>
      <li>
        <h2><%= message.user %></h2>
        <p><%= message.text %></p>
        <div><%= message.added %></div>
      </li>
    </ul>
    <a href="/">Go back</a>
  </body>
</html>
